extdoc/
firmware/build/
firmware/csr.json
firmware/litex_json2dts_zephyr.py
firmware/overlay.config
firmware/overlay.cmake
firmware/overlay.dts
firmware/pin_io.c
misc/
software/build/
*.fst
obj_dir
*.fst.hier
*.swp
firmware/rtl/control_loop/control_loop_cmds.h
firmware/rtl/raster/ram_shim_cmds.h
firmware/rtl/raster/raster_cmds.h
firmware/rtl/base/base.v
firmware/rtl/control_loop/control_loop.v
firmware/rtl/control_loop/control_loop_cmds.vh
firmware/rtl/control_loop/control_loop_math.v
*_preprocessed.v
firmware/csr.repl
firmware/csr.resc
firmware/rtl/control_loop/slpp_all/
firmware/rtl/raster/.f4cache
firmware/rtl/raster/build/
firmware/rtl/raster/pack.log
firmware/rtl/raster/place.log
firmware/rtl/raster/route.log
firmware/rtl/raster/synth.log
firmware/rtl/raster/synth_test_yosys.v
firmware/rtl/raster/yosys_output
firmware/csr_bitwidth.json
boot/*
!boot/boot.json
