extdoc/
firmware/build/
firmware/csr.json
firmware/litex_json2dts_zephyr.py
firmware/overlay.config
firmware/overlay.dts
firmware/pin_io.h
misc/
software/build/
*.fst
obj_dir
*.fst.hier
*.swp
firmware/rtl/control_loop/control_loop_cmds.h
firmware/rtl/raster/ram_shim_cmds.h
firmware/rtl/raster/raster_cmds.h
