# SPDX-License-Identifier: BSD-2-Clause
# Copyright 2023 (C) Peter McGoron

config PLATFORM_LITEX_VEXRISCV
	bool
	select FDT
	select FDT_SERIAL
	select TIMER_MTIMER
	select IPI_MSWI
	select FDT_SERIAL_LITEX
	default y
